*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family:  sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #edede9;
    
}

input {
    height: 28.59px;
    
    
    padding: 0;
    
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.3rem;
    box-shadow: 1px 2.5px gray;
    
    
}

.nameErrorButton {
    border: none;
    padding: 0;
    box-shadow: none;
    background-color: #edede9;
}

.nameErrorButton:hover {
    cursor: pointer;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.searchBar {
    text-shadow: 0.1px 0.5px;
}

.deleteByNameError {
    position: absolute; 
    color: #F92F60;
    margin-top: 3px;
}

.users-div {
    padding-top: 4rem;
    padding-bottom: 4rem;
    border: 1px solid black;
}


.users-list-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.user-list-div {
    display: flex;
    justify-content: center;
    
}

.user-list-li-div {
    min-width: 13rem;
    display: flex;
    align-items: center;
}

.user-list-li-p {
    position: absolute;
}

.user-list-li {
    list-style-type: none;
   
}

@media (max-width: 300px) {
    .user-list-li-div{
        margin-bottom: 20px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .user-list-div{
        display: flex;
        flex-wrap: wrap;
    }
    .user-list-button-div{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 505px) {
    .deleteByNameError {
        position: static;
    }
}

@media (max-width: 540px) {
    .nav{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 940px) {
    .nav{
        display: flex;
        
    }
}

@media (max-width: 1024px) {
    .nav{
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .searchBar{
        display: none;
    }
}
@media (min-width: 1024px) {
    .nav{
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
}
}


@media (min-width: 1060px) {
    .nav{
        display: flex;
        justify-content: center;
        column-gap: 25px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


@media (min-width: 1250px) {
    .nav {
    
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-bottom: 2rem;
}
  }






